@import url("reset.css");

body {
	background: #d8d8d6;
}

/* 1 */
.container {
	width: 1200px;
	margin: 0 auto;
}

.disp {
	display: inline-block;

}.flo {
	float: left;
 }

.block_1 {
	font-size: 0px;
	background: #f6ffd4;
}

.block_1>div {
	font-size: 16px;
	width: 400px;
	height: 400px;
	vertical-align: top;
	padding: 20px;
	font-weight: 400;
	line-height: 19px;
	outline: 1px solid #000000;
}

/* 2 */

.block_2 {
	font-size: 0px;
	background: #dafbf7;
}

.block_2_parent {
	font-size: 16px;
	width: 800px;
	vertical-align: top;
	outline: 2px solid #000000;
	font-weight: 400;
	line-height: 19px;
}

.block_2_parent>div {
	height: 200px;
	outline: 1px solid #000000;
	padding: 20px;
}

.block_2_parent+.block_2_parent {
	width: 400px;
}

.block_2_parent+.block_2_parent>div {
	height: 133.333px;
}

/* 3 */

.block_3 {
	font-size: 0px;
	background: #f9e6f9;
	
}

.block_3_inlain {
	font-size: 16px;
	width: 400px;
	height: 400px;
	vertical-align: top;
	outline: 1px solid #000000;
	font-weight: 400;
	line-height: 19px;
}

.block_3_inlain>div {
	height: 400px;
	outline: 1px solid #000000;
}

.block_3_inlain+.block_3_inlain {
	width: 800px;
}

.block_3_inlain+.block_3_inlain>div {
	height: 200px;
}

.block_3_3 {
	font-size: 0px;
}

.block_3_inlain_2 {
	font-size: 16px;
	width: 400px;
	height: 200px;
	vertical-align: top;
	outline: 1px solid #000000;
}

.block_3_inlain_2>div {
	height: 200px;
	outline: 1px solid #000000;

}

.block_3_inlain_2+.block_3_inlain_2 {
	width: 400px;
}

.block_3_inlain_2+.block_3_inlain_2>div {
	height: 100px;
	padding: 20px;
}
.padding {
	padding: 20px;
}
/* Float 1*/

.float_1 {
	background: #f6ffd4;
}

.float_1>div {
	width: 400px;
	height: 400px;
	vertical-align: top;
	padding: 20px;
	/* float: left; */
	outline: 1px solid #000000;
}

/* Float 2 */

.float_2 {
	background: #dafbf7;
}

.float_2_parent {
	width: 800px;
	font-size: 16px;
	vertical-align: top;
	outline: 2px solid #000000;
	font-weight: 400;
	float: left;
}

.float_2_parent>div {
	height: 200px;
	outline: 1px solid #000000;
	padding: 20px;
}

.float_2_parent+.float_2_parent {
	width: 400px;
}

.float_2_parent+.float_2_parent>div {
	height: 133.333px;
}